<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The option value attribute</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #ede5e5;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
      }
      form {
        width: 500px;
        margin: 0 auto;
        background-color: #b4afaf;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      label {
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
      }
      select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px #100f0f;
        border-bottom: 2px solid #ccc;
        background-color: #fcfafa;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      input[type="submit"] {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #534caf;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body>
    <h1>Select The details</h1>

    <form method="POST" action="{{ url_for('editnew_21') }}">
      <label for="cars">Choose IP:</label>

      <select id="start" name="start">
        <!-- <option value="volvo">Volvo XC90</option>
        <option value="saab">Saab 95</option>
        <option value="mercedes">Mercedes SLK</option>
        <option value="audi">Audi TT</option> -->
      </select>
      <label for="cars">Choose Timestamp start:</label>

      <select id="end" name="end">
        <!-- <option value="volvo">Volvo XC90</option>
        <option value="saab">Saab 95</option>
        <option value="mercedes">Mercedes SLK</option>
        <option value="audi">Audi TT</option> -->
      </select>
      <label for="cars">Choose Timestamp end:</label>

      <select id="end2" name="end2">
        <!-- <option value="volvo">Volvo XC90</option>
        <option value="saab">Saab 95</option>
        <option value="mercedes">Mercedes SLK</option>
        <option value="audi">Audi TT</option> -->
      </select>

      <input type="submit" value="Submit">
    </form>

    <script>
      // Define the options for the select element as an array
        // Define the options for the select elemen
        var apps= ["23.23.161.112",
                    " 194.187.98.131",
                    " 173.194.27.156",
                    " 52.84.133.35",
                    " 192.168.10.23",
                    " 192.168.40.30",
                    " 192.168.122.46",
                    " 172.19.1.174",
                    " 66.150.48.37",
                    " 199.101.133.139",
                    " 54.164.226.139",
                    " 34.239.239.169",
                    " 172.21.1.33",
                    " 52.67.78.191",
                    " 67.220.182.10",
                    " 34.224.183.247",
                    " 64.4.54.18",
                    " 173.194.27.231",
                    " 192.168.32.10",
                    " 192.168.72.66",
                    " 192.168.60.47",
                    " 200.13.201.147",
                    " 72.21.207.79",
                    " 23.4.59.27",
                    " 154.53.225.110",
                    " 52.34.90.97",
                    " 34.199.168.201",
                    " 40.77.232.90",
                    " 192.168.52.57",
                    " 138.197.231.129",
                    " 192.168.121.104",
                    " 192.99.63.81",
                    " 54.182.215.70",
                    " 192.168.90.10",
                    " 50.16.232.83",
                    " 131.176.236.28",
                    " 10.200.7.6",
                    " 34.199.177.227",
                    " 31.216.145.63",
                    " 216.58.218.227",
                    " 216.58.222.65",
                    " 40.97.142.2",
                    " 192.0.72.25",
                    " 192.168.125.16",
                    " 5.231.220.81",
                    " 34.194.190.161",
                    " 107.20.208.40",
                    " 52.207.194.86",
                    " 192.168.128.54",
                    " 104.20.38.253",
                    " 176.9.204.152",
                    " 192.168.180.141",
                    " 216.58.212.174",
                    " 192.168.52.2",
                    " 208.100.17.189",
                    " 192.168.40.29",
                    " 10.130.1.139",
                    " 192.168.102.31",
                    " 210.128.243.84",
                    " 137.116.167.204",
                    " 192.168.180.70",
                    " 104.24.109.53",
                    " 74.119.118.100",
                    " 54.173.118.155",
                    " 8.43.72.72",
                    " 198.54.201.15",
                    " 96.7.5.109",
                    " 54.84.227.59",
                    " 52.84.132.97",
                    " 93.93.68.145",
                    " 192.168.72.52",
                    " 172.217.29.45",
                    " 192.168.90.103",
                    " 173.241.254.212",
                    " 158.85.224.178",
                    " 10.230.1.239",
                    " 54.209.193.145",
                    " 192.168.41.35",
                    " 192.168.90.147",
                    " 52.202.29.249",
                    " 192.0.72.29",
                    " 52.203.80.226",
                    " 192.168.10.118",
                    " 192.168.142.68",
                    " 104.91.163.229",
                    " 192.168.81.7",
                    " 192.168.81.92",
                    " 52.1.110.13",
                    " 192.168.10.12",
                    " 192.168.10.6",
                    " 8.30.11.14",
                    " 52.207.61.132",
                    " 169.55.162.8",
                    " 144.217.71.89",
                    " 72.30.3.43",
                    " 204.79.197.200",
                    " 192.168.90.52",
                    " 192.168.180.60",
                    " 104.16.78.166",
                    " 52.15.62.156",
                    " 104.244.46.71",
                    " 64.4.54.98",
                    " 66.242.15.123",
                    " 192.168.60.24",
                    " 40.77.64.160",
                    " 31.216.144.24",
                    " 208.100.17.188",
                    " 173.194.27.184",
                    " 192.168.52.51",
                    " 192.168.150.7",
                    " 216.58.219.67",
                    " 54.197.248.196",
                    " 64.15.122.33",
                    " 52.6.90.214",
                    " 54.165.98.180",
                    " 23.32.196.79",
                    " 52.48.126.66",
                    " 172.217.17.35",
                    " 54.236.188.147",
                    " 192.168.190.38",
                    " 82.223.247.88",
                    " 23.32.195.39",
                    " 23.9.53.19",
                    " 64.124.217.61",
                    " 104.24.4.46",
                    " 205.251.206.82",
                    " 23.9.56.134",
                    " 98.138.81.73",
                    " 192.229.163.25",
                    " 72.246.210.235",
                    " 40.118.214.164",
                    " 154.53.225.42",
                    " 104.91.130.174",
                    " 208.80.54.235",
                    " 190.98.214.250",
                    " 52.22.17.184",
                    " 172.18.1.36",
                    " 192.168.130.32",
                    " 17.167.192.225",
                    " 192.168.121.77",
                    " 23.23.212.135",
                    " 10.230.1.110",
                    " 52.206.153.163",
                    " 52.18.111.223",
                    " 5.39.44.193",
                    " 23.32.207.25",
                    " 192.168.90.99",
                    " 149.56.30.55",
                    " 66.242.15.235",
                    " 190.90.221.26",
                    " 192.168.81.28",
                    " 45.55.120.93",
                    " 108.177.12.102",
                    " 8.43.72.22",
                    " 192.168.190.2",
                    " 52.206.107.41",
                    " 74.125.165.202",
                    " 192.168.130.83",
                    " 54.173.20.235",
                    " 23.21.88.18",
                    " 192.150.19.174",
                    " 23.253.136.60",
                    " 38.90.226.39",
                    " 192.168.220.182",
                    " 205.185.216.42",
                    " 34.200.195.180",
                    " 52.20.41.184",
                    " 130.126.113.147",
                    " 151.101.34.109",
                    " 192.168.10.129",
                    " 192.168.32.129",
                    " 104.16.208.165",
                    " 188.42.162.155",
                    " 192.168.60.157",
                    " 192.168.10.47",
                    " 91.207.103.197",
                    " 52.225.131.238",
                    " 192.168.31.7",
                    " 190.8.176.162",
                    " 72.30.196.161",
                    " 94.31.29.55",
                    " 174.136.99.21",
                    " 172.217.29.77",
                    " 77.68.41.235",
                    " 23.9.55.120",
                    " 54.164.133.236",
                    " 52.94.228.73",
                    " 192.168.10.147",
                    " 205.204.107.169",
                    " 52.5.137.31",
                    " 192.168.131.35",
                    " 207.46.134.255",
                    " 52.205.51.172",
                    " 52.85.107.239",
                    " 52.203.99.162",
                    " 52.204.213.58",
                    " 207.244.80.182",
                    " 10.130.5.215",
                    " 192.168.90.120",
                    " 192.168.32.105",
                    " 131.253.61.84",
                    " 199.187.193.133",
                    " 74.125.3.7",
                    " 52.34.28.127",
                    " 139.59.200.233",
                    " 104.196.142.190",
                    " 89.115.233.85",
                    " 52.11.243.102",
                    " 91.216.63.241",
                    " 199.187.193.2",
                    " 54.245.251.207",
                    " 52.3.8.241",
                    " 52.204.179.157",
                    " 192.168.60.95",
                    " 74.121.142.57",
                    " 72.21.91.29",
                    " 54.235.72.249",
                    " 107.182.233.47",
                    " 52.44.34.181",
                    " 52.193.200.174",
                    " 35.187.35.40",
                    " 192.168.122.74",
                    " 192.168.180.59",
                    " 192.168.29.59",
                    " 104.27.184.92",
                    " 192.168.29.39",
                    " 172.19.1.123",
                    " 52.86.191.185",
                    " 31.216.144.52",
                    " 151.101.0.175",
                    " 154.53.129.51",
                    " 192.168.90.83",
                    " 192.168.42.10",
                    " 154.53.224.198",
                    " 192.168.60.57",
                    " 192.168.190.180",
                    " 52.2.160.130",
                    " 192.168.127.54",
                    " 168.61.170.80",
                    " 52.73.87.165",
                    " 50.63.243.230",
                    " 52.200.0.248",
                    " 52.88.144.151",
                    " 23.32.195.118",
                    " 173.194.136.215",
                    " 173.194.212.138",
                    " 192.168.81.145",
                    " 13.32.242.89",
                    " 104.41.62.122",
                    " 66.35.58.80"]   
        var day=["2017-04-26 03:00:00+05:30",
                        "2017-04-26 04:00:00+05:30",
                        "2017-04-26 11:00:00+05:30",
                        "2017-04-27 04:00:00+05:30",
                        "2017-04-27 05:00:00+05:30",
                        "2017-04-27 06:00:00+05:30",
                        "2017-04-27 07:00:00+05:30",
                        "2017-04-27 08:00:00+05:30",
                        "2017-04-27 09:00:00+05:30",
                        "2017-04-27 10:00:00+05:30",
                        "2017-04-27 11:00:00+05:30",
                        "2017-04-28 09:00:00+05:30",
                        "2017-04-28 10:00:00+05:30",
                        "2017-05-09 09:00:00+05:30",
                        "2017-05-09 10:00:00+05:30",
                        "2017-05-09 11:00:00+05:30",
                        "2017-05-09 12:00:00+05:30",
                        "2017-05-11 03:00:00+05:30",
                        "2017-05-11 10:00:00+05:30",
                        "2017-05-11 11:00:00+05:30",
                        "2017-05-15 04:00:00+05:30",
                        "2017-05-15 05:00:00+05:30",
                        "2017-05-15 09:00:00+05:30",
                        "2017-05-15 10:00:00+05:30",
                        "2017-05-15 11:00:00+05:30",
                        "2017-05-11 09:00:00+05:30"]
// Get a reference to the select element
var selectElement = document.getElementById("start");

// Loop through the options array and create an <option> element for each one
for (var i = 0; i < apps.length; i++) {
  var option = document.createElement("option");
  option.value = apps[i];
  option.text = apps[i];
  
  selectElement.appendChild(option);
}
var selectElement = document.getElementById("end");

// Loop through the options array and create an <option> element for each one
for (var i = 0; i < day.length; i++) {
  var option = document.createElement("option");
  option.value = day[i];
  option.text = day[i];
  
  selectElement.appendChild(option);
}

var selectElement = document.getElementById("end2");

// Loop through the options array and create an <option> element for each one
for (var i = 0; i < day.length; i++) {
  var option = document.createElement("option");
  option.value = day[i];
  option.text = day[i];
  
  selectElement.appendChild(option);
}

    </script>

   
    <script>
      // Add an event listener to the submit button
      document.querySelector('input[type="submit"]').addEventListener('click', function() {
        alert('You submitted the form!');
      });
    </script>
  </body>
</html>
