<!-- <!DOCTYPE html>
<html>
<body>

<h2>ALL APPS</h2>

<ul>
    <script>
      var apps = ['99TAXI', 'AMAZON', 'APPLE', 'APPLE_ICLOUD', 'APPLE_ITUNES', 'BGP', 'BITTORRENT', 'CITRIX', 'CITRIX_ONLINE', 'CLOUDFLARE', 'CNN', 'CONTENT_FLASH', 'DEEZER', 'DNS', 'DROPBOX', 'EASYTAXI', 'EBAY', 'EDONKEY', 'FACEBOOK', 'FTP_CONTROL', 'FTP_DATA', 'GMAIL', 'GOOGLE', 'GOOGLE_MAPS', 'H323', 'HTTP', 'HTTP_CONNECT', 'HTTP_DOWNLOAD', 'HTTP_PROXY', 'INSTAGRAM', 'IP_ICMP', 'IP_OSPF', 'LASTFM', 'LOTUS_NOTES', 'MAIL_IMAPS', 'MICROSOFT', 'MQTT', 'MSN', 'MS_ONE_DRIVE', 'MSSQL', 'NETFLIX', 'NFS', 'NTP', 'OFFICE_365', 'OPENSIGNAL', 'OPENVPN', 'ORACLE', 'OSCAR', 'QQ', 'RADIUS', 'RTMP', 'SIMET', 'SKINNY', 'SKYPE', 'SNMP', 'SOCKS', 'SPOTIFY', 'SSH', 'SSL', 'SSL_NO_CERT', 'STARCRAFT', 'TEAMSPEAK', 'TEAMVIEWER', 'TELEGRAM', 'TIMMEU', 'TOR', 'TWITCH', 'TWITTER', 'UBUNTUONE', 'UNENCRYPED_JABBER', 'UPNP', 'WAZE', 'WHATSAPP', 'WHOIS_DAS', 'WIKIPEDIA', 'WINDOWS_UPDATE', 'YAHOO', 'YOUTUBE'];

      for (var i = 0; i < apps.length; i++) {
        document.write("<p>" + apps[i] + "</p>");
      }
    </script>
  </ul>

</body>
</html>
 -->


 <!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
    h2 {
      text-align: center;
      margin-top: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>ALL APPS</h2>

  <ul>
      <script>
        var apps = ['99TAXI', 'AMAZON', 'APPLE', 'APPLE_ICLOUD', 'APPLE_ITUNES', 'BGP', 'BITTORRENT', 'CITRIX', 'CITRIX_ONLINE', 'CLOUDFLARE', 'CNN', 'CONTENT_FLASH', 'DEEZER', 'DNS', 'DROPBOX', 'EASYTAXI', 'EBAY', 'EDONKEY', 'FACEBOOK', 'FTP_CONTROL', 'FTP_DATA', 'GMAIL', 'GOOGLE', 'GOOGLE_MAPS', 'H323', 'HTTP', 'HTTP_CONNECT', 'HTTP_DOWNLOAD', 'HTTP_PROXY', 'INSTAGRAM', 'IP_ICMP', 'IP_OSPF', 'LASTFM', 'LOTUS_NOTES', 'MAIL_IMAPS', 'MICROSOFT', 'MQTT', 'MSN', 'MS_ONE_DRIVE', 'MSSQL', 'NETFLIX', 'NFS', 'NTP', 'OFFICE_365', 'OPENSIGNAL', 'OPENVPN', 'ORACLE', 'OSCAR', 'QQ', 'RADIUS', 'RTMP', 'SIMET', 'SKINNY', 'SKYPE', 'SNMP', 'SOCKS', 'SPOTIFY', 'SSH', 'SSL', 'SSL_NO_CERT', 'STARCRAFT', 'TEAMSPEAK', 'TEAMVIEWER', 'TELEGRAM', 'TIMMEU', 'TOR', 'TWITCH', 'TWITTER', 'UBUNTUONE', 'UNENCRYPED_JABBER', 'UPNP', 'WAZE', 'WHATSAPP', 'WHOIS_DAS', 'WIKIPEDIA', 'WINDOWS_UPDATE', 'YAHOO', 'YOUTUBE'];

        for (var i = 0; i < apps.length; i++) {
          document.write("<li>" + apps[i] + "</li>");
        }
      </script>
    </ul>

</div>

</body>
</html>